@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.layout > :first-child {
  position: sticky; 
  top: 0; 
  z-index: 10; 
  background-color: var(--background-body); 
  width: 100%;
}

.main-content {
  overflow-y: auto; 
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif; 
  background-color: var(--background-body);
  scroll-behavior: smooth;
}

.text-outline {
  -webkit-text-stroke: 1px #B2DF28;
}